{
    "presets": ["es2015","es2017", "stage-0", "react"],
    "plugins": ["transform-decorators-legacy","syntax-async-functions","transform-regenerator","transform-runtime","react-hot-loader/babel"],
}